* {
  font-family: Roboto, Shrikhand, calibri, sans-serif;
  box-sizing: border-box;
}

body {
  background: #fff;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Shrikhand;
  margin: 0px;
  font-weight: lighter;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
  background-color: #f6f6f6;
}
.top__reserve {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}
.top__discover {
  font-size: 20px;
}
.top__button {
  width: 220px;
  height: 50px;
  border-radius: 20px;
}

.background {
  display: flex;
  flex-direction: column;
}
.background__title {
  align-items: flex-start;
  font-weight: bold;
  margin-top: 50px;
  padding: 20px;
}
.background--grey {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 25px;
  margin-bottom: 50px;
}
.button__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  gap: 20px;
  height: 70px;
  border: 1.5px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button__btn:hover {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 6px 6px;
}
.button__btn--violet {
  background-color: #f5edff;
}
.button__btn__font--violet {
  color: #9356dc;
}
.button__number {
  padding-top: 6px;
  height: 25px;
  width: 25px;
  color: #fff;
  border-radius: 25px;
  background-color: #9356DC;
  position: absolute;
  left: 10px;
}

.solo_btn {
  color: #fff;
  background-color: #a75cdb;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-image: linear-gradient(to bottom, #e872da 10%, #9356DC 100%);
  border-style: none;
  font-weight: bold;
}

.label {
  color: #008766;
  text-align: center;
  padding-top: 5px;
  background-color: #99E2D0;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 12px;
}

.fa-heart:hover {
  cursor: pointer;
}

.heart {
  cursor: pointer;
  position: absolute;
  right: 14px;
}
.heart__empty {
  cursor: pointer;
  position: absolute;
  transition: all 0.4s ease;
}
.heart__full {
  cursor: pointer;
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  transition: all 0.4s ease;
  transform: scale(0);
}
.heart:hover .heart__full {
  transform: scale(1);
}
.heart:hover .heart__empty {
  opacity: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
  background-color: silver;
  -webkit-animation: disapear 1s 3s forwards;
          animation: disapear 1s 3s forwards;
}

.loader__ring {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: whitesmoke;
  border: 3px solid #9356DC;
  border-radius: 50%;
  color: #9356DC;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #9356DC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loader__ring:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #FF79DA;
  border-right: 3px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: RotationA 3s linear infinite;
          animation: RotationA 3s linear infinite;
}

span {
  display: block;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 45px;
  transform-origin: left;
  -webkit-animation: RotationB 3s linear infinite;
          animation: RotationB 3s linear infinite;
}

span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #99E2D0;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #99E2D0;
}

@-webkit-keyframes RotationA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes RotationA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes RotationB {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes RotationB {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-webkit-keyframes disapear {
  to {
    opacity: 0;
  }
}
@keyframes disapear {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.footer {
  color: #fff;
  background-color: #353535;
  padding: 20px;
}
.footer__list {
  margin: 0;
  list-style: none;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}

.header {
  background: #fff;
  text-align: center;
}
.header__title {
  box-shadow: 0, 4px, 10px, 1px, grey;
  margin: 0px;
  border-top: none;
  position: relative;
  padding: 20px 10px 5px 20px;
}
.header__search {
  background: #eaeaea;
  height: 50px;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}
.header__placeholder {
  border: none;
  width: 150px;
  background-color: inherit;
  font-weight: bolder;
  font-size: large;
  text-align: center;
}

.locations p {
  padding-left: 20px;
  font-weight: bold;
}

.locations__restaurant {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.locations__restaurant img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__description {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}

.locations__spot {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  padding: 20px 20px 10px 20px;
}

.menu {
  background-color: #f6f6f6;
}
.menu__peek img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__container {
  border-radius: 20px 20px 0px 0px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -40px;
}
.menu__title {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
}
.menu__button {
  width: 186px;
  height: 50px;
  border-radius: 20px;
}

.menu_meal {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px;
}
.menu_meal__title {
  font-weight: bold;
}
.menu_meal__title:after {
  content: "";
  display: block;
  width: 32px;
  padding-top: 3px;
  border-bottom: 2px solid rgb(31, 235, 239);
}

.card {
  margin: 20px auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.card:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.card:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.card:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.card:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.content {
  padding: 10px;
  flex-shrink: 1;
  box-sizing: border-box;
  min-width: 100%;
  transition: all 300ms;
}

.card:hover .content {
  min-width: calc(100% - 100px);
}

.grow {
  flex-grow: 1;
}

.line {
  display: flex;
  align-items: center;
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.validate {
  display: flex;
  transition: all 300ms;
}

.mark {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #99E2D0;
}

.mark_check {
  transform: rotate(180deg);
  transition: all 300ms;
}
@-webkit-keyframes mark_check {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes mark_check {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 360deg;
  }
}/*# sourceMappingURL=main.css.map */