.header {
  background: #fff;
  text-align: center;

  &__title {
    box-shadow: 0 4px 10px 1px #cfcfcf;
    margin: 0px;
    border-top: none;
    position: relative;
    padding: 20px 10px 5px 20px;
  }
  &__search {
    background: #eaeaea;
    height: 50px;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
  }
  &__placeholder {
    border: none;
    width: 150px;
    background-color: inherit;
    font-weight: bolder;
    font-size: large;
    text-align: center;
  }
}
