.background {
  display: flex;
  flex-direction: column;

  &__title {
    align-items: flex-start;
    font-weight: bold;
    font-size: 24px;
    padding: 0 20px;
    margin-bottom: 0px;
    margin-top: 60px;
  }

  &--grey {
    background-color: #f6f6f6;
    padding-bottom: 50px;
  }
}
