.background {
  display: flex;
  flex-direction: column;

  &__title {
    align-items: flex-start;
    font-weight: bold;
    margin-top: 50px;
    padding: 20px;
  }

  &--grey {
    background-color: #f6f6f6;
    padding-bottom: 50px;
  }
}
