.button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 25px;
  margin-bottom: 50px;

  &__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    gap: 20px;
    height: 70px;
    border: 1.5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    &:hover {
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.25) 0px 6px 6px;
    }
  }

  &__btn--violet {
    background-color: #f5edff;
  }
  &__btn__font--violet {
    color: #9356dc;
  }

  &__number {
    padding-top: 6px;
    height: 25px;
    width: 25px;
    color: #fff;
    border-radius: 25px;
    background-color: $color-primary;
    position: absolute;
    left: 10px;
  }
}
.solo_btn {
  color: #fff;
  background-color: #a75cdb;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-image: linear-gradient(
    to bottom,
    #e872da 10%,
    $color-primary 100%
  );
  border-style: none;
  font-weight: bold;
}
