.heart {
  cursor: pointer;
  position: absolute;
  right: 14px;

  &__empty {
    cursor: pointer;
    position: absolute;
    transition: all 0.4s ease;
  }

  &__full {
    cursor: pointer;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    transition: all 0.4s ease;
    transform: scale(0);
  }
  &:hover &__full {
    transform: scale(1);
  }
  &:hover &__empty {
    opacity: 0;
  }
}
