.label {
  color: #008766;
  text-align: center;
  padding-top: 5px;
  background-color: #99e2d0;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.fa-heart:hover{
  cursor:pointer;
}