.locations {
  & p {
    padding-left: 20px;
    font-weight: bold;
  }
  &__restaurant {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 10px 20px,
      rgba(0, 0, 0, 0.06) 0px 6px 6px;
    margin: 20px;
  }

  &__restaurant img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }
  &__spot {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
  }
}
