.locations p {
  padding-left: 20px;
  font-weight: bold;
}
.locations__restaurant {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.locations__restaurant img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.restaurant__description {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
}
.locations__spot {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
