.top__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  padding: 20px 20px 10px 20px;
}

.menu {
  align-items: center;
  background-color: #f6f6f6;
  &__peek img {
    width: 100%;
  }
  &__container {
    border-radius: 20px 20px 0px 0px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -40px;
  }
  &__title {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
  }
}

.menu__meal {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px;

  &__title {
    font-weight: bold;
    &:after {
      content: "";
      display: block;
      width: 32px;
      padding-top: 3px;
      border-bottom: 2px solid rgb(31, 235, 239);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    margin-top: 20px;
  }

  &__detail__name {
    margin: 0;
    font-weight: bold;
  }

  &__detail__recipe {
    display: flex;
    justify-content: space-between;

    &__detail--price {
      font-weight: bold;
    }
    :hover {
      color: #fff;
      background-color: $color-tertiary;
      border: radius 20px;
    }
  }
  .only_hover {
    display: none;
    position: absolute;
  }
}

/*button*/
.menu__button {
  width: 220px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  background-color: #a75cdb;
  background-image: linear-gradient(
    to bottom,
    #e872da 10%,
    $color-primary 100%
  );
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}
